extends layout

block content
  body(style="background-color:black; color:white, text-align:center")
    h1(style='color:white; text-align:center')= "Welcome to Teux View"
      h3(style='color:white; text-align:center')  #{title}

      form(style='color:white; text-align:center', method='post', action='/postlogin', id="formic")
        | Username:  
        input(style='margin:20px 20px 20px 20px', name='username', id="nameIn")
        div
          | Favorite Color:   
          input(name='color', id="colorIn")

        button(style='margin:20px 20px 20px 20px', 'type='submit')
          | Login